---
---
$white: #ffffff;
$light: #f8f9fa;
$dark: #363636;
$black: #0a0a0a;
$orange: #fdaf17;

@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans.ttf");
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
  font-family: "Kollektif";
  src: url('../fonts/Kollektif.ttf')
}

@font-face {
  font-family: "Kollektif";
  src:url("../fonts/Kollektif-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Kollektif";
  src:url("../fonts/Kollektif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Kollektif";
  src:url("../fonts/Kollektif-Italic.ttf");
  font-style: italic;
}

body {
  font-family: "Kollektif", sans-serif;
}

a {
  color: $orange;
  &:hover {
    color: $orange;
  }
}

.display-1 {
  // 6rem
  @media (max-width: 768px) {
    font-size: 5rem;
  }
  @media (max-width: 576px) {
    font-size: 4rem;
  }
}

.display-2 {
  // 5.5rem
  @media (max-width: 768px) {
    font-size: 4rem;
  }
  @media (max-width: 576px) {
    font-size: 3.25rem;
  }
}

.display-3 {
  // 4.5rem
  @media (max-width: 768px) {
    font-size: 3rem;
  }
  @media (max-width: 576px) {
    font-size: 2.5rem;
  }
}

.display-4 {
  // 3.5rem
  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
  @media (max-width: 576px) {
    font-size: 2.25rem;
  }
}

// index.html
.home {
  .hero {
    background-image: url(../img/main-image.png);
    margin-bottom: 0;
    text-transform: uppercase;
    .display-4 {
      font-weight: bold;
    }
  }
  .sub-hero {
    margin-left: 0;
    margin-right: 0;
    .col-image {
      background-image: url(../img/outside.jpg);
      background-position: bottom;
      background-size: cover;
      border-right: 30px solid $orange;
      margin-left: -100px;
      -webkit-transform: skew(-15deg);
         -moz-transform: skew(-15deg);
           -o-transform: skew(-15deg);
    }
    .col-text {
      padding: 2rem;
      .display-6 {
        font-weight: bold;
      }
      @media (min-width: 992px) {
        padding-right: 0;
        margin-left: 50px;
      }
      @media (min-width: 1800px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
    }
  }
  .list {
    margin-top: -1px;
    .list-title {
      text-transform: uppercase;
      font-weight: bold;
    }
    .slash, .divider {
      display: inline-block;
      margin-right: 10px;
      -webkit-transform: skew(-15deg);
         -moz-transform: skew(-15deg);
           -o-transform: skew(-15deg);
    }
    .slash {
      margin-left: 5px;
    }
    .divider {
      margin: 0 10px;
    }
    .row.no-gutters {
      margin-left: 3px;
    }
    .single-item {
      margin-left: -3px;
      .image {
        transition: opacity .15s ease-in-out;
        &:hover {
          opacity: 0.85;
        }
      }
    }
    &:nth-of-type(odd) {
      background-color: $orange;
      color: #fff;
      a {
        color: $black;
        &:hover {
          color: $black;
        }
      }
      a.btn-black {
        color: $white;
        &:hover {
          color: $white;
        }
      }
      .slash, .divider {
        color: black;
      }
      .single-item {
        .image {
          border: 3px solid $black;
        }
        .bite {
          polygon {
            fill: $orange;
            stroke: $black;
          }
        }
      }
    }
    &:nth-of-type(even) {
      background-color: #fff;
      color: black;
      .slash, .divider {
        color: $orange;
      }
      .single-item {
        .image {
          border: 3px solid $orange;
        }
        .bite {
          polygon {
            fill: $white;
            stroke: $orange;
          }
        }
      }
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    .col-item {
      display: none;
      @media (min-width: 576px) {
        .content {
          padding-right: 20px;
        }
      }
      &.visible {
        display: block;
      }
      .single-item {
        margin-bottom: 60px;
        padding-bottom: 40px;
        position: relative;
        height: 90%;
        .image, .video-wrapper {
          background-color: #fff;
          position: relative;
          img {
            width: 100%;
          }
        }
        .bite {
          position: absolute;
          bottom: -3px;
          right: -3px;
          height: calc(70% + 6px);
          polygon {
            stroke-width: 3px;
            vector-effect: non-scaling-stroke;
            shape-rendering: geometricPrecision;
          }
        }
        .name {
          font-size: 2rem;
          line-height: 2rem;
          margin-top: 10px;
          margin-bottom: 10px
        }
        .location {
          font-size: 1.2rem;
        }
        .description {
          margin-top: 10px;
        }
        .buttons {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
  .section-footer {
    margin-top: 4rem;
    margin-bottom: -6rem;
    padding: 4rem 0;
    color: $black;
    .all {
      margin-bottom: 4rem;
    }
    .add-cta, .all-cta {
      font-weight: bold;
      text-transform: uppercase;
    }
    .slash {
      color: $orange !important;
    }
  }
  #people {
    .image {
      margin-right: 15px;
    }
    .name {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
    a.btn-black {
      position: relative;
      margin-top: 10px;
    }
    .single-item {
      margin-bottom: 30px;
      margin-left: 0;
    }
    .col-item {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 0;
    }
    .buttons {
      bottom: 30px;
      @media (max-width: 768px) {
        bottom: 0;
        position: relative;
      }
    }
  }

  #tutorials {
    .single-tutorial {
      .image {
        width: 100%;
        padding-top: 50%;
        position: relative;
        i {
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
          top: 30%;
          color: $black;
          font-size: 4rem;
          z-index: 1000;
        }
        .tutorial-image-wrap {
          overflow: hidden;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          img {
            position: absolute;
            top: -25%;
          }
        }
      }
    }
  }
}

.intro-text {
  font-size: 20px;
}

.margin-medium {
  margin: 10px;
}

.padding-none {
  padding: 0;
}

// project.html and people.html
article.projects, article.people {
  .jumbotron {
    background-color: $orange;
    color: $white;
    text-transform: uppercase;
    .display-4 {
      font-weight: bold;
    }
    .slash {
      margin-left: 5px;
      margin-right: 10px;
      display: inline-block;
      color: $black;
      -webkit-transform: skew(-15deg);
         -moz-transform: skew(-15deg);
           -o-transform: skew(-15deg);
    }
  }
  .project-content {
    margin-bottom: 2rem;
    .loading {
      text-align: center;
    }
    .search-box-wrap {
      position: relative;
      input.search-box {
        margin-bottom: 2rem;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.25rem;
        border: 3px solid $orange;
        display: none;
      }
      .bite {
        position: absolute;
        right: -6px;
        height: calc(100% - 2rem);
        polygon {
          fill: $white;
          stroke: $orange;
          stroke-width: 3px;
          vector-effect: non-scaling-stroke;
          shape-rendering: geometricPrecision;
        }
      }
    }
  }
  .row.no-gutters {
    margin-left: 3px;
  }
  .col-item {
    .single-item {
      margin-left: -3px;
      margin-bottom: 60px;
      padding-bottom: 40px;
      position: relative;
      height: 90%;
      .image, .video-wrapper {
        border: 3px solid $orange;
        background-color: #fff;
        position: relative;
        img {
          width: 100%;
        }
      }
      .bite {
        position: absolute;
        bottom: -3px;
        right: -3px;
        height: calc(70% + 6px);
        polygon {
          stroke: $orange;
          fill: $white;
          stroke-width: 3px;
          vector-effect: non-scaling-stroke;
          shape-rendering: geometricPrecision;
        }
      }
      .name {
        font-size: 2rem;
        line-height: 2rem;
        margin-top: 10px;
        margin-bottom: 10px
      }
      .location {
        font-size: 1.2rem;
      }
      .description {
        margin-top: 10px;
      }
      .buttons {
        position: absolute;
        bottom: 0;
      }
    }
    @media (min-width: 576px) {
      .content {
        padding-right: 20px;
      }
    }
  }
  mark.highlight {
    padding: 0;
    background-color: $orange;
    color: $white;
  }
}

// about.html
.about {
  img {
    width: 100%;
  }
  section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &:nth-of-type(even) {
      background-color: $orange;
      color: $white;
    }
  }
}

// navbar
nav {
  font-family: "Kollektif", sans-serif;
  .navbar-brand {
    padding-right: 20px;
    width: 250px;
    max-width: 75%;
    img {
      width: 100%;
    }
  }
}

// buttons
.btn {
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  &.btn-black {
    color: #fff;
    background-color: $black;
    border-color: $black;
    &:hover {
      background-color: $dark;
      border-color: $dark;
    }
    &:active {
      background-color: $dark;
      border-color: $dark;
    }
  }
  &.btn-skew {
    margin-left: 5px;
    -webkit-transform: skew(-15deg);
       -moz-transform: skew(-15deg);
         -o-transform: skew(-15deg);
    .unskew {
      -webkit-transform: skew(15deg);
         -moz-transform: skew(15deg);
           -o-transform: skew(15deg);
    }
  }
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

// footer
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $light;
  img {
    width: 100%;
    max-width: 200px;
    max-height: 75px;
    margin-bottom: 1rem;
  }
}
