.wrap {
  background-color: #eee;
  min-height: 100vh;
}

.single-entry {
  display: none;
}

.single-entry.active {
  display: block;
}

label {
  display: block;
}

ul {
  margin-bottom: 30px;
}

.filter-used .province, .filter-used .collaboration, .filter-used .topic, .filter-used .type {
  display: inline-block;
}

.filter-used .single-filter {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 600;
  line-height: 30px;
  padding: 0 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: #16A085;
}

.filter-used .single-filter:hover {
  background: #eee;
  color: #0d5d4d;
}

.filter-used .single-filter.all {
  cursor: auto;
}

.filter-used .single-filter.all:hover {
  background: #f1f1f1;
  color: #16A085;
}

#filter input[type="radio"], #filter input[type="checkbox"] {
  vertical-align: middle;
  margin: 0 5px 0 0;
}

.filter-content label {
  padding-left: 0;
}

.single-entry .type i {
  font-size: 30px;
}

.loading, .zero-results {
  padding: 15px;
  font-size: 24px;
  text-align: center;
}

.zero-results {
  display: none;
}

.single-filter i {
  margin-left: 3px;
}

.listing-filter {
  padding: 15px;
  line-height: 30px;
}