<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <ul class="fa-ul">
          <h4>Cape Town</h4>
          <li><i class="fa-li fa fa-map-marker"></i>1 Thicket Street, Newlands 7725</li>
          <li><i class="fa-li fa fa-envelope"></i><a href="mailto:community@openup.org.za">community@openup.org.za</a></li>
          <li><i class="fa-li fa fa-phone"></i><a href="tel:+27216716306">021 671 6306</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <ul class="fa-ul">
          <h4>Durban</h4>
          <li><i class="fa-li fa fa-map-marker"></i>153a Helen Joseph Road, Glenwood 4001</li>
          <li><i class="fa-li fa fa-envelope"></i><a href="mailto:community@openup.org.za">info@opendata.durban</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <img class="logo" src="{{ site.logo }}">
        <a target="_blank" href="https://openup.org.za"><img class="logo" src="/img/openup.svg"></a>
      </div>
      <div class="col-md-6 col-lg-3">
        Codebridge is run by OpenUp, a non-profit organisation registered with the <a target="_blank" href="http://www.dsd.gov.za/npo/index.php?option=com_content&task=view&id=66&Itemid=114">South African Department of Social Development</a>, number 133-850NPO.
        <br>
        <br>
        Kollektif font by <a target="_blank" href="http://www.bravenewfonts.com/">Brave New Fonts</a>.
      </div>
    </div>
  </div>
</footer>