<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %} 

  <section class="contact" style="margin-bottom:10px;">
    <div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img style="width:100%; margin-top:-15px; margin-bottom:20px" src="/images/reimagine-storytelling.jpg">
        </div>
      </div>

      <div class="row text-center">
        <div>
          <a type="button" class="btn btn-default" href="/storytelling#finalists"><i class="fa fa-arrow-left" aria-hidden="true"></i> back to teams</a>
          <a style="background-color: #365899; border: 0; color:white;" type="button" class="btn btn-default" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=www.codebridge.org.za/storytelling/{{ page.icon }}.html"><i class="fa fa-facebook-official" aria-hidden="true"></i> <b>share</b></a>
          <a style="background-color: #33ccff; border: 0; color:white;" type="button" class="btn btn-default" target="_blank" href="https://twitter.com/intent/tweet?text=www.codebridge.org.za/storytelling/{{ page.icon }}.html%20%23CBStoryChallenge"><i class="fa fa-twitter" aria-hidden="true"></i> <b>tweet</b></a>
        </div>
      </div>

      <div class="row team-infobox">
        <div class="col-xs-4 col-md-2 col-md-offset-2 team-image-page">
    	    {% if page.iconalt %}
    		<img src="img/{{ page.iconalt }}" style="width:100%;">
    	    {% else %}
    	    <img src="img/{{ page.icon }}.jpg" style="width:100%;">
    	    {% endif %}
        </div>
      <div class="col-xs-8 col-md-6 team-detail-page">
      	<h2>
  	    	{{ page.name }}
      	</h2>
      	<p>
  	    	<i class="fa fa-fw fa-users" aria-hidden="true"></i> {{ page.members }}
      	</p>
      	<p>
  	    	<i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ page.location }}
      	</p>
      	<p>
      		{{ page.summary }}
    		</p>
      </div>
      </div>

      <div id="updates" class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>Team updates</h3>
        </div>
      </div>

      <div id="updates" class="row">
        <div class="col-md-8 col-md-offset-2">
          {% for update in page.updates %}
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" href="#{{ update.date }}" aria-expanded="true" aria-controls="{{ update.date }}">
                    {{ update.title }} <small>{{ update.date | date_to_long_string }}</small>
                  </a>
                </h4>
              </div>
              <div id="{{ update.date }}" class="panel-collapse collapse {% if forloop.first %} in {% endif %}" role="tabpanel" aria-labelledby="update-accordion">
                <div class="panel-body panel-body-storytelling">
                  {{ update.body }}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>   

      <div class="row" id="discussion" style="margin-bottom: 25px;">
        <div class="col-md-8 col-md-offset-2">
  	      <div class="call-join"><a href="#discussion">Interested in this story? Join the discussion!</a></div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 60px;">
        <div class="col-md-8 col-md-offset-2">
  	      <div id="discourse-comments"></div>
  		  </div>
  		</div>
  
      <script type="text/javascript">
        DiscourseEmbed = { discourseUrl: 'http://discuss.codebridge.org.za/',
                 topicId: {{ page.discuss }} };

        (function() {
          var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
          d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
      </script>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>With support from:</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3 col-md-2 col-donor col-md-offset-2">
          <a href="http://code4sa.org/" target="_blank"><img src="/images/code4sa_logo.png" style="width:100%"></a>
        </div>
        <div class="col-xs-3 col-md-2 col-donor">
          <a href="https://www.facebook.com/HacksHackersAfrica" target="_blank"><img src="/images/hh.png" style="width:100%"></a>
        </div>
        <div class="col-xs-3 col-md-2 col-donor">
        <a href="http://www.makingallvoicescount.org/" target="_blank"><img src="/images/mavc.png" style="width:100%"></a>
        </div>
        <div class="col-xs-3 col-md-2 col-donor">
        <a href="http://opendata.durban/" target="_blank"><img src="/images/opendatadurban.jpg" style="width:100%"></a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3><small>We thank our donors for making this storytelling challenge possible</small></h3>
        </div>
      </div>

    </div>
  </section>

 	{% include footer.html %}

</body>

</html>